
#page_header {
width: 100%;
color: #FFFFFF;
background-color: #8B8EA7;
position: relative;
overflow: hidden;
font-size: 3em;	
text-align: center;
height: 3.5em;
}

#page_header h1 {
  color: #FFFFFF;
  position: relative;
  font-size: 1.4em;
  font-weight: 700;
  z-index: 999;
  font-family: 'Courgette', cursive;
  padding-top: .1em;
}
	#page_header img {
	  height: 2em;
	  width: 2em;
	  margin-bottom: .5em;
	}

	#page_header #bg {
	position: absolute;
	right: 0px;
	top: 0px;
	}

#content {
  background-image: url("http://lunch.app/img/bw-tiles.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 70em;
  width: 110%;
  overflow: hidden;
  bottom: 0;
  /* position: absolute; */
}
#content h1 {
	margin:0 0 16px;
	color:#000;
	font:26px/27px 'Rockwell W01', Arial, Helvetica, sans-serif;
}
#content p {
	margin:0 0 4px;
	margin: 15px 0px !important;
	font-size: 1.2em;
	line-height: 1.7em !important;
	color: #666 !important;
}
#content p.type2 {
	margin:0;
}
#content p.type3 {
	margin:0 0 9px;
}
#content p a {
	text-decoration:underline;
}
#content p a:hover {
	text-decoration:none;
}

.login {
  width: 25em;
  height: auto;
  background-color: #FFFFFF;
  float: right;
  margin-right: 20%;
  margin-top: -20%;
  border: black;
  box-sizing: border-box;
  border-width: medium;
}

.registration {
  width: 25em;
  height: auto;
  background-color: #FFFFFF;
  float: right;
  margin-right: 20%;
  margin-top: -20%;
  border: black;
  box-sizing: border-box;
  border-width: medium;
}


input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
	overflow: auto;
}

#frontpage {
  width: 40em;
  height: auto;
  margin-left: 10%;
  margin-top: 10%;
 }

#frontpage p{
	font-size: 4em;
	color: #FFFFFF !important;
}

#login-submit{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: medium;
  background-color: #EA5959;
  border: none;
  font-family: 'Orator Std';
  color: #FFFFFF;
  height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#register-submit {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: medium;
  background-color: #EA5959;
  border: none;
  font-family: 'Orator Std';
  color: #FFFFFF;
  height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-group input{
	width: 100%; 
}

.form-group{
	width: 80%;
	margin-right: 10%;
	margin-left: 10% 
}

.gooseberry{
	width: 50%;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2em;
}

.center_form {
  width: 25em;
  height: auto;
  background-color: #FFFFFF;
  border: black;
  box-sizing: border-box;
  border-width: medium;
  margin-left: 38%;
  margin-right: 38%;
  margin-top: 1%;
}

.title h1 {
  color: #FFFFFF !important;
  font-size: 4em !important;
  font-size: 4em;
  margin-top: 5% !important;
  margin-left: 39% !important;
}

